In [1]:
import pandas as pd
import networkx as nx

In [2]:
df = pd.read_csv('Subway map - JP_TOKYO.csv')
df.head()

           Line  Station Name  Count
0  Asakusa Line  Nishi-magome      1
1  Asakusa Line        Magome      1
2  Asakusa Line      Nakanobu      1
3  Asakusa Line       Togoshi      1
4  Asakusa Line       Gotanda      1

In [3]:
df['Line'].unique()

array(['Asakusa Line', 'Mita Line', 'Shinjuku Line', 'Oedo Line',
       'Rinkai Line', 'Ginza Line', 'Marunouchi Line',
       'Marunouchi Branch Line', 'Hibiya Line', 'Tozai Line',
       'Chiyoda Line 1', 'Chiyoda Line 2', 'Yurakucho Line',
       'Hanzomon Line', 'Namboku Line', 'Fukutoshin Line'], dtype=object)

In [4]:
mtr = nx.Graph()
for i in range(len(df)-1):
    if df['Line'][i] == df['Line'][i+1]:
        edge = (df['Station Name'][i], df['Station Name'][i+1])
        mtr.add_edge(*edge) # unpack
    else:
        mtr.add_node(df['Station Name'][i])

# Application:

In [5]:
start_station = 'Tsukijishijo'
end_station = 'Oshiage'

# Using Dijkstra's algorithm:
path = nx.shortest_path(mtr, source=start_station, target=end_station)
print("Shortest path from {} to {} is: ".format(start_station, end_station))
path

Shortest path from Tsukijishijo to Oshiage is:

['Tsukijishijo',
 'Kachidoki',
 'Tsukishima',
 'Monzen-Nakachō',
 'Kiyosumi-shirakawa',
 'Sumiyoshi',
 'Kinshichō',
 'Oshiage']