In [5]:
import pandas as pd
import networkx as nx

In [6]:
df = pd.read_csv('Subway map - JP_TOKYO.csv')
df.head()

           Line  Station Name  Count
0  Asakusa Line  Nishi-magome      1
1  Asakusa Line        Magome      1
2  Asakusa Line      Nakanobu      1
3  Asakusa Line       Togoshi      1
4  Asakusa Line       Gotanda      1

In [7]:
mtr = nx.Graph()
for i in range(len(df)-1):
    if df['Line'][i] == df['Line'][i+1]:
        edge = (df['Station Name'][i], df['Station Name'][i+1])
        mtr.add_edge(*edge) # unpack
    else:
        mtr.add_node(df['Station Name'][i])

# Application:

In [12]:
start_station = 'Tsukijishijo'
end_station = 'Omotesandō'

# Using Dijkstra's algorithm:
print("Shortest path from {} to {} is: ".format(start_station, end_station))
path = nx.shortest_path(mtr, source=start_station, target=end_station)
print(path, end="\n\n")

# Print the path:
df_print = pd.DataFrame({'Line': [], 'Station Name': []})

for _stationName in path:
    _df_filtered = df[df['Station Name']==_stationName] 
    if len(_df_filtered) == 1:
        _lineName = "-> " + _df_filtered['Line'].values[0]

    elif len(_df_filtered) > 1:
        __lineName = _df_filtered['Line'].values
        _lineName = "/" 
        for i in __lineName:
            _lineName += i + "/" 

    df_print = pd.concat([df_print, pd.DataFrame({'Line': [_lineName], 'Station Name': [_stationName]})], ignore_index=True)

df_print

Shortest path from Tsukijishijo to Omotesandō is:
['Tsukijishijo', 'Shiodome', 'Daimon', 'Akabanebashi', 'Azabu-juban', 'Roppongi', 'Aoyama-itchome', 'Omotesandō']

                                        Line    Station Name
0                               -> Oedo Line    Tsukijishijo
1                               -> Oedo Line        Shiodome
2                   /Asakusa Line/Oedo Line/          Daimon
3                               -> Oedo Line    Akabanebashi
4                   /Oedo Line/Namboku Line/     Azabu-juban
5                    /Oedo Line/Hibiya Line/        Roppongi
6       /Oedo Line/Ginza Line/Hanzomon Line/  Aoyama-itchome
7  /Ginza Line/Chiyoda Line 1/Hanzomon Line/      Omotesandō